In [140]:
import numpy as np
import pandas as pd
import csv
from collections import defaultdict
import networkx as nx
import json

In [141]:
df_C_raw = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="CDIO_COO_DIV PRIVATE BANKING")
df_P_raw = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="Private Banking")
df_OP = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="Organizational Position")

df_Employees = pd.read_excel("Data.xlsx", sheet_name="Employees")
df_Domain = pd.read_excel("Data.xlsx", sheet_name="Knowledge structure")
df_Assessment = pd.read_excel("Data.xlsx", sheet_name="Knowledge assessment", na_values = "NA")
df_Organization = pd.read_excel("Data.xlsx", sheet_name="Organizational structure", na_values="NA")
df_Persona = pd.read_excel("Data.xlsx", sheet_name="Personas")

### Employment

#### Distribution of Age

In [142]:
df_Employees['AGE'].describe()

count    65021.000000
mean        49.680273
std          8.618742
min         21.000000
25%         43.000000
50%         51.000000
75%         57.000000
max         71.000000
Name: AGE, dtype: float64

#### Counts for Sex

In [143]:
df_Employees['SEX'].value_counts()

F    33016
M    31691
Name: SEX, dtype: int64

#### Count Employee

In [144]:
len(df_Employees['ID_EMPLOYEE'].unique())

64998

In [145]:
len(df_Employees.index)

65021

#### There should be duplicated ID_EMPLOYEE

In [146]:
a_list = df_Employees.ID_EMPLOYEE.tolist()
a_set = set(a_list)
contains_duplicates = len(a_list) != len(a_set)

list1=[]
duplicated_ID = []
for i in a_list:
    if i not in list1:
        list1.append(i)
    else:
        duplicated_ID.append(i)
duplicated_ID

[8503,
 10049,
 11113,
 30411,
 33046,
 33051,
 33052,
 33092,
 33928,
 59459,
 60997,
 61039,
 61241,
 61259,
 61399,
 62073,
 62090,
 62114,
 62116,
 62124,
 62163,
 62289,
 62350]

#### Duplicated ID have different Orgnization_Position

In [147]:
df_Employees.loc[df_Employees['ID_EMPLOYEE'].isin(duplicated_ID)]

,ID_EMPLOYEE,SEX,AGE,ID_FRAME,FLAG_RESPONSABILE,ID_ORGANIZATIONAL_POSITION
8421,8503,M,62,QD/4,#,4593
8422,8503,M,62,QD/4,#,5051
9955,10049,M,57,QD/4,#,4596
9956,10049,M,57,QD/4,#,5107
11006,11113,M,51,QD/2,#,4593
11007,11113,M,51,QD/2,#,5051
29772,30411,M,63,QD/1,#,4607
29773,30411,M,63,QD/1,#,6145
32405,33046,M,63,QD/4,#,4607
32406,33046,M,63,QD/4,#,6145
32411,33051,M,62,QD/3,#,4607
32412,33051,M,62,QD/3,#,6145
32413,33052,M,62,QD/4,#,4607
32414,33052,M,62,QD/4,#,6145
32454,33092,M,57,QD/4,#,4607
32455,33092,M,57,QD/4,#,6145
33288,33928,M,64,QD/3,#,4607
33289,33928,M,64,QD/3,#,6145
56470,59459,M,60,QD/3,#,4596
56471,59459,M,60,QD/3,#,5107
58001,60997,M,48,QD/4,#,4607
58002,60997,M,48,QD/4,#,6145
58044,61039,M,55,QD/1,#,4607
58045,61039,M,55,QD/1,#,6145
58247,61241,F,42,3A/2,#,4607
58248,61241,F,42,3A/2,#,6145
58266,61259,F,61,QD/1,#,4607
58267,61259,F,61,QD/1,#,6145
58407,61399,M,51,3A/2,#,4607
58408,61399,M,51,3A/2,#,6145
58943,62073,M,65,QD/4,#,4596
58944,62073,M,65,QD/4,#,5107
58961,62090,F,62,QD/2,#,4596
58962,62090,F,62,QD/2,#,5107
58986,62114,M,58,QD/4,#,4596
58987,62114,M,58,QD/4,#,5107
58989,62116,F,57,QD/1,#,4596
58990,62116,F,57,QD/1,#,5107
58998,62124,M,58,QD/1,#,4596
58999,62124,M,58,QD/1,#,5107
59038,62163,F,60,3A/3,#,4596
59039,62163,F,60,3A/3,#,5107
59165,62289,M,58,QD/1,#,4596
59166,62289,M,58,QD/1,#,5107
59227,62350,F,49,QD/1,#,4596
59228,62350,F,49,QD/1,#,5107

### Assessment

In [148]:
df_Assessment

,ID_EMPLOYEE,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION
0,63374,767,C05_1D01,1,NaN
1,39838,42166,C11D02,1,NaN
2,27198,8078,C15D03,1,1.0
3,28622,20863,C23D02,1,NaN
4,20494,25046,C28D04,1,NaN
...,...,...,...,...,...
1048570,34556,35036,C35_1D03,1,NaN
1048571,265,18190,C07D01,1,NaN
1048572,3117,67408,C41D01,1,NaN
1048573,63649,63704,C32D03,1,1.0
1048574,63976,63992,C03D05,2,2.0

b_list = df_Assessment.ID_EMPLOYEE.tolist()
b_set = set(b_list)
contains_duplicates = len(b_list) != len(b_set)

list2=[]
duplicated_Assessment = []
for i in b_list:
    if i not in list2:
        list2.append(i)
    else:
        duplicated_Assessment.append(i)
duplicated_Assessment

#### Duplicated Employee has duplicated Assessment. Assessments are the same

In [149]:
duplicated_Assessment == duplicated_ID

False

In [150]:
df_Assessment.loc[df_Assessment['ID_EMPLOYEE'].isin(duplicated_Assessment)]

,ID_EMPLOYEE,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION
0,63374,767,C05_1D01,1,NaN
1,39838,42166,C11D02,1,NaN
2,27198,8078,C15D03,1,1.0
3,28622,20863,C23D02,1,NaN
4,20494,25046,C28D04,1,NaN
...,...,...,...,...,...
1048570,34556,35036,C35_1D03,1,NaN
1048571,265,18190,C07D01,1,NaN
1048572,3117,67408,C41D01,1,NaN
1048573,63649,63704,C32D03,1,1.0
1048574,63976,63992,C03D05,2,2.0

#### distribution of SCORE_AUTODETECTION

In [151]:
df_Assessment['SCORE_AUTODETECTION'].value_counts()

1    864221
2    113101
3     46071
4     19264
5      5918
Name: SCORE_AUTODETECTION, dtype: int64

#### A large number of Employees don't have SCORE_VALIDATION in specific Knowledge domain. Some knowledge domains have large missing self-score.

In [152]:
df_NoSelfScore= df_Assessment.loc[df_Assessment['SCORE_VALIDATION'].isna()]
df_NoSelfScore['ID_KNOWLEDGE_DOMAIN'].value_counts()

C19_1D02    7677
C35_2D01    7677
C35_2D02    7676
C24D02_1    7645
C19_1D01    7634
            ...
C38D02       522
C16_1D13     511
C40D01       342
C37D01       164
C38D01        27
Name: ID_KNOWLEDGE_DOMAIN, Length: 130, dtype: int64

In [153]:
len(df_NoSelfScore)

649416

In [154]:
df_With_Self_Score = df_Assessment[df_Assessment['SCORE_VALIDATION'].notna()]

In [155]:
df_With_Self_Score

,ID_EMPLOYEE,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION
2,27198,8078,C15D03,1,1.0
11,54759,43553,C29D02,1,1.0
16,8217,3976,C11D03,1,1.0
20,26640,28488,C41D01,1,1.0
26,44864,4853,C30_1D05,1,1.0
...,...,...,...,...,...
1048566,17752,17858,C01D04,1,1.0
1048567,44217,1903,C03D01,5,5.0
1048569,16261,63573,C16_1D13,1,1.0
1048573,63649,63704,C32D03,1,1.0
1048574,63976,63992,C03D05,2,2.0

#### 86.9 percent of self score match the manager score.

In [156]:
(df_With_Self_Score['SCORE_AUTODETECTION'] - df_With_Self_Score['SCORE_VALIDATION']).value_counts(normalize = True)

 0.0    0.868949
 1.0    0.050125
-1.0    0.046603
 2.0    0.013240
-2.0    0.010800
 3.0    0.005146
-3.0    0.002656
 4.0    0.002017
-4.0    0.000463
dtype: float64

### Knowledge Domain

In [157]:
df_Domain.loc[df_Domain["DESCR_KNOWLEDGE_DOMAIN"].isnull()]

Empty DataFrame
Columns: [ID_KNOWLEDGE_DOMAIN, DESCR_KNOWLEDGE_DOMAIN, ID_KNOWLEDGE_AREA, DESCR_KNOWLEDGE_AREA]
Index: []

In [158]:
df_Domain.loc[df_Domain["DESCR_KNOWLEDGE_AREA"].isnull()]

,ID_KNOWLEDGE_DOMAIN,DESCR_KNOWLEDGE_DOMAIN,ID_KNOWLEDGE_AREA,DESCR_KNOWLEDGE_AREA
49,C01D03,Segmento Imprese,NaN,NaN
85,C32D06,Relazioni con i Regolatori,NaN,NaN

In [160]:
len(df_Domain['ID_KNOWLEDGE_DOMAIN'].unique())
# no duplicated index
#len(df_Domain['ID_KNOWLEDGE_DOMAIN'].unique()) = len(df_Domain.index)

130

In [161]:
len(df_Domain['ID_KNOWLEDGE_AREA'].unique())

43

In [162]:
df_Areas = df_Domain.groupby(["ID_KNOWLEDGE_AREA"])

In [163]:
df_Areas.first()

,ID_KNOWLEDGE_DOMAIN,DESCR_KNOWLEDGE_DOMAIN,DESCR_KNOWLEDGE_AREA
ID_KNOWLEDGE_AREA,,,
AREAC001,C01D01,Segmento Retail,Conoscenza Segmenti
AREAC002,C02D01,Customer experience management,Customer Relationship & Development
AREAC003,C03D01,Operativit√† di sportello,Conoscenza di Prodotti e Servizi bancari
AREAC004,C04D02,Trade Finance,Transaction Banking
AREAC005_1,C05_1D03,Prodotti previdenziali,Conoscenza di Prodotti e Servizi Assicurativi
AREAC006,C06D04,Accesso programmi di finanziamento,Conoscenza di Prodotti e Servizi non bancari
AREAC007,C07D03,Monitoraggio ciclo di vita prodotti e servizi,Product & Service development
AREAC008,C08D01,Trend di mercato e posizionamento competitivo,Business Development
AREAC009,C09D01,Corporate Finance,Credito e Finanza d'Impresa
AREAC010,C10D02,Asset management,Wealth & Asset Management
AREAC011,C11D02,Monitoraggio del credito,Analisi e Gestione del credito
AREAC012,C12D03,Procedure finanziarie,Capital Markets
AREAC013,C13D02,Advisory e negoziazione M&A,Advisory
AREAC014,C14D02,ALM & Capital Management,Funding
AREAC015,C15D01,Teorie e modelli di rischio,Prevenzione e Gestione dei rischi
AREAC016_1,C16_1D07,Normativa del lavoro,Normativa e Compliance
AREAC016_2,C016_2D01,Legale e contenzioso,Legale e contenzioso
AREAC017,C17D03,Fiscalit√† d'impresa,Amministrazione
AREAC018,C18D02,Regulatory compliance,Regulatory reporting
AREAC019,C19D01,Pianificazione e budgeting,Pianificazione
AREAC019_1,C19_1D02,Metodologie di analisi finanziaria,Analisi economica e finanziaria
AREAC022,C22D02,Data Analysis,Data governance
AREAC023,C23D02,Matematica finanziaria,Modelli quantitativi
AREAC024,C24D01,Modelli attuariali,Scienze attuariali
AREAC025,C25D02,Application IT e DBMS,IT environment
AREAC026,C26D02,Implementazione IT,Architettura IT e software development
AREAC027,C27D01,IT Risk & Security Assesment,Cyber Security
AREAC028,C28D03,Gestione e Valutazione,Risorse Umane
AREAC029,C29D02,Processi e procedure aziendali,Modelli e processi organizzativi
AREAC030_1,C30_1D02,Valorizzazione e promozione del brand,Comunicazione
AREAC030_2,C30_2D02,Promozione pubblicitaria,Marketing
AREAC032,C32D07,Relazioni con le Associazioni di Categoria e d...,Relazioni istituzionali & Regulatory relations...
AREAC033_1,C33_1D01,Governo della spesa,Procurement & Cost Management
AREAC034_1,C34_1D04,Gestione servizi logistici,Property
AREAC035_1,C35_1D03,Ambiente ed Energia,Safety
AREAC035_2,C35_2D01,Impatto sociale,Impatto Sociale e Culturale
AREAC036,C36D01,Innovation management,Digital
AREAC037,C37D01,Design e Structured Thinking,Design e Structured Thinking
AREAC038,C38D01,Program & Project Management,Program & Project Management
AREAC039,C39D01,Cambiamento e miglioramento organizzativo,Change Management
AREAC040,C40D01,Gestione e diffusione della conoscenza,Knowledge management
AREAC041,C41D01,Relazioni internazionali,International Network

### Create Network Data

In [164]:
df_C_raw = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="CDIO_COO_DIV PRIVATE BANKING")
df_P_raw = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="Private Banking")

In [165]:
df_C = df_C_raw[["UOG1_F","UOG2_F","UOG3_F","UOG4_F","UOG5_F","UOG6_F"]]
df_P = df_P_raw[["UOG1_F","UOG2_F","UOG3_F","UOG4_F","UOG5_F","UOG6_F"]]

In [196]:
# extract all org id
org_list = []
for i in df_C:
    org_list.append(df_C[i].tolist())

for i in df_P:
    org_list.append(df_P[i].tolist())

# flattern list
flat_list = []
for sublist in org_list:
    for item in sublist:
        flat_list.append(item)
        
org_id = np.unique(np.array(flat_list)).tolist()
org_id.remove("-")
org_id = list(map(int, org_id))

#### Extract all the unique orgnization_positions(from Private bankings) intended to investigate from the whole employees data

In [197]:
org_id

[1,
 10,
 100,
 10012,
 10019,
 10020,
 10036,
 10048,
 10049,
 10056,
 10077,
 10079,
 101,
 10112,
 10113,
 10115,
 10119,
 10120,
 102,
 103,
 104,
 105,
 10571,
 10572,
 10573,
 10574,
 10575,
 10576,
 10577,
 10578,
 10579,
 10580,
 10581,
 10582,
 10583,
 10584,
 10585,
 106,
 107,
 10730,
 10731,
 10732,
 10733,
 10734,
 10735,
 10736,
 10737,
 10738,
 10739,
 10740,
 10741,
 10742,
 10743,
 10744,
 10745,
 10746,
 10747,
 10748,
 10749,
 10750,
 10751,
 10752,
 10753,
 10754,
 10755,
 10756,
 10757,
 10758,
 10759,
 10760,
 10761,
 10762,
 10763,
 10764,
 10765,
 10766,
 10767,
 10768,
 10769,
 10770,
 10771,
 10772,
 10773,
 10774,
 10775,
 10776,
 10777,
 10778,
 10779,
 10780,
 10781,
 10782,
 10783,
 10784,
 10785,
 10786,
 10787,
 10788,
 10789,
 10790,
 10791,
 10792,
 10793,
 10794,
 10795,
 10796,
 10797,
 10798,
 10799,
 108,
 10800,
 10801,
 10802,
 10803,
 10804,
 10805,
 10806,
 10807,
 10808,
 10809,
 10810,
 10811,
 10812,
 10813,
 10814,
 10815,
 10816,
 10817,
 10818,
 10819,
 10820,
 10821,
 10822,
 10823,
 10824,
 10825,
 10826,
 10827,
 10828,
 10829,
 10830,
 10831,
 10832,
 10833,
 10834,
 10835,
 10836,
 10837,
 10838,
 10839,
 10840,
 10841,
 10842,
 10843,
 10844,
 10845,
 10846,
 10847,
 10848,
 10849,
 10850,
 10851,
 10852,
 10853,
 10854,
 10855,
 10856,
 10857,
 10858,
 10859,
 10860,
 10861,
 10862,
 10863,
 10864,
 10865,
 10866,
 10867,
 10868,
 10869,
 10870,
 10871,
 10872,
 10873,
 10874,
 10875,
 10876,
 10877,
 10878,
 10879,
 10880,
 10881,
 10882,
 10883,
 10884,
 10885,
 10886,
 10887,
 10888,
 10889,
 10890,
 10891,
 10892,
 10893,
 10894,
 10895,
 10896,
 10897,
 10898,
 10899,
 109,
 10900,
 10901,
 10902,
 10903,
 10904,
 10905,
 10906,
 10907,
 10908,
 10909,
 10910,
 10911,
 10912,
 10913,
 10914,
 10915,
 10916,
 10917,
 10918,
 10919,
 10920,
 10921,
 10922,
 10923,
 10924,
 10925,
 10926,
 10927,
 10928,
 10929,
 10930,
 10931,
 10932,
 10933,
 10934,
 10935,
 10936,
 10937,
 10938,
 10939,
 10940,
 10941,
 10942,
 10943,
 10944,
 10945,
 10946,
 10947,
 10948,
 10949,
 10950,
 10951,
 10952,
 10953,
 10954,
 10955,
 10956,
 10957,
 10958,
 10959,
 10960,
 10961,
 10962,
 10963,
 10964,
 10965,
 10966,
 10967,
 10968,
 10969,
 10970,
 10971,
 10972,
 10973,
 10974,
 10975,
 10976,
 10977,
 10978,
 10979,
 10980,
 10981,
 10982,
 10983,
 10984,
 10985,
 10986,
 10987,
 10988,
 10989,
 10990,
 10991,
 10992,
 10993,
 10994,
 10995,
 10996,
 10997,
 10998,
 10999,
 11,
 110,
 11000,
 11001,
 11002,
 11003,
 11004,
 11005,
 11006,
 11007,
 11008,
 11009,
 11010,
 11011,
 11012,
 11013,
 11014,
 11015,
 111,
 112,
 11210,
 11211,
 11212,
 11213,
 11214,
 11215,
 11216,
 11217,
 11218,
 11219,
 11220,
 11221,
 11222,
 11223,
 11224,
 11225,
 11226,
 11227,
 11228,
 11229,
 113,
 11321,
 11322,
 11323,
 11324,
 11325,
 11326,
 11327,
 11328,
 11329,
 11330,
 11331,
 11332,
 11333,
 11334,
 11335,
 11336,
 11341,
 11346,
 11347,
 11352,
 11353,
 11354,
 11355,
 11356,
 11357,
 11358,
 11359,
 11360,
 11361,
 11362,
 11363,
 11364,
 11365,
 11366,
 11367,
 11368,
 11369,
 11370,
 11371,
 11372,
 11373,
 11374,
 11375,
 11376,
 11377,
 11378,
 11379,
 11380,
 11381,
 11382,
 11383,
 114,
 115,
 116,
 11606,
 11607,
 11608,
 11609,
 11610,
 11611,
 11612,
 11613,
 11614,
 11615,
 11616,
 11617,
 11618,
 11619,
 11620,
 11621,
 11622,
 11623,
 11624,
 11625,
 11626,
 11627,
 11628,
 11629,
 11630,
 11631,
 11632,
 11633,
 11634,
 11635,
 11636,
 11637,
 11638,
 11639,
 11640,
 11641,
 11642,
 11643,
 11644,
 11646,
 11647,
 11648,
 11649,
 11650,
 11651,
 11652,
 11653,
 11654,
 11655,
 11656,
 117,
 118,
 119,
 12,
 120,
 12031,
 12032,
 12046,
 12052,
 12061,
 12063,
 12064,
 12065,
 12072,
 12075,
 12090,
 12091,
 12092,
 12094,
 12095,
 121,
 12100,
 12101,
 12113,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 13,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 14,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 15,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 16,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 17,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 18,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 19,
 2,
 20,
 21,
 22,
 2201,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 3,
 30,
 31,
 32,
 3283,
 33,
 34,
 35,
 3547,
 36,
 37,
 38,
 39,
 4,
 40,
 41,
 42,
 43,
 4355,
 4358,
 4359,
 44,
 45,
 46,
 47,
 48,
 49,
 5,
 50,
 51,
 5106,
 5119,
 5120,
 5121,
 5124,
 5125,
 5126,
 5127,
 5128,
 5129,
 5130,
 5131,
 5132,
 52,
 53,
 54,
 55,
 56,
 5631,
 57,
 58,
 5827,
 5828,
 5874,
 59,
 6,
 60,
 61,
 6103,
 6134,
 6193,
 6198,
 6199,
 62,
 6200,
 6201,
 6202,
 6203,
 6204,
 6205,
 6206,
 6207,
 6210,
 6222,
 6223,
 6224,
 6225,
 6226,
 6227,
 6228,
 6229,
 6230,
 6231,
 6232,
 6233,
 6234,
 6235,
 6236,
 6241,
 63,
 64,
 65,
 6530,
 6531,
 6536,
 6537,
 6538,
 6539,
 6540,
 6541,
 6542,
 6543,
 6544,
 6545,
 6546,
 6547,
 6548,
 6549,
 6550,
 6551,
 6552,
 6553,
 6554,
 6555,
 6556,
 6557,
 6558,
 6559,
 6560,
 66,
 6658,
 6659,
 6660,
 6663,
 6671,
 6672,
 6673,
 67,
 68,
 69,
 6909,
 6910,
 6911,
 6912,
 6935,
 6945,
 6946,
 6947,
 6948,
 6949,
 7,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 7988,
 8,
 80,
 8034,
 8035,
 8036,
 8037,
 8038,
 8039,
 8040,
 8041,
 8042,
 8043,
 8044,
 8045,
 8046,
 8047,
 8048,
 8052,
 8053,
 8054,
 8055,
 8056,
 8057,
 8058,
 8059,
 8060,
 8061,
 8062,
 8063,
 8064,
 8065,
 8066,
 8067,
 8068,
 8069,
 8076,
 8077,
 8078,
 8079,
 8080,
 8081,
 8082,
 8083,
 8084,
 8085,
 8086,
 8087,
 8088,
 8089,
 8090,
 8091,
 8092,
 8093,
 8094,
 8095,
 8096,
 8097,
 8098,
 8099,
 81,
 8100,
 8101,
 8102,
 8103,
 8104,
 8105,
 8106,
 8107,
 8108,
 8109,
 8110,
 8111,
 8112,
 8113,
 8114,
 8115,
 8116,
 8117,
 8118,
 8119,
 8120,
 8121,
 8124,
 8125,
 8126,
 8127,
 8128,
 8129,
 8130,
 8131,
 8132,
 8133,
 8134,
 8135,
 8136,
 8137,
 8138,
 8139,
 8140,
 8141,
 8149,
 8150,
 8151,
 8152,
 8153,
 8154,
 8155,
 8156,
 8157,
 8158,
 8159,
 8160,
 8161,
 8162,
 8174,
 8175,
 8176,
 8177,
 8178,
 8179,
 8180,
 8181,
 8182,
 8183,
 8184,
 8185,
 8186,
 8187,
 82,
 8218,
 8219,
 8220,
 8221,
 8222,
 8223,
 8237,
 8238,
 8239,
 8240,
 8241,
 8242,
 8243,
 8244,
 8245,
 8246,
 8247,
 8248,
 8253,
 8254,
 8255,
 8256,
 8257,
 8258,
 8259,
 8260,
 8261,
 8262,
 8263,
 8264,
 8265,
 8266,
 8267,
 8268,
 8269,
 8270,
 8271,
 8272,
 8275,
 8276,
 8277,
 8278,
 8279,
 8280,
 8281,
 8286,
 8287,
 8288,
 8289,
 8290,
 8291,
 8292,
 8293,
 8294,
 8295,
 8296,
 8297,
 8298,
 8299,
 83,
 8300,
 8301,
 8304,
 8305,
 8306,
 8307,
 8308,
 8309,
 8310,
 8311,
 8323,
 8324,
 8325,
 8326,
 8327,
 8328,
 8329,
 8330,
 8331,
 8332,
 8333,
 8334,
 8335,
 8336,
 8337,
 8338,
 8339,
 8340,
 8341,
 8342,
 8343,
 8344,
 8345,
 8346,
 8347,
 8348,
 8349,
 8350,
 8351,
 8352,
 8353,
 8354,
 8355,
 8356,
 8357,
 8358,
 8359,
 8360,
 8361,
 8362,
 8363,
 8364,
 8365,
 8366,
 8367,
 8368,
 8369,
 8370,
 8371,
 8372,
 8373,
 8374,
 8375,
 8376,
 8377,
 8378,
 8379,
 8380,
 8381,
 8382,
 8383,
 8384,
 8385,
 8386,
 8387,
 8388,
 8389,
 8390,
 8391,
 8392,
 8393,
 8394,
 8395,
 8396,
 8397,
 8398,
 8399,
 84,
 8400,
 8401,
 8402,
 8403,
 ...]

### Filter the Employees that have the orgnization in the dataset

In [198]:
# filter employee ID by org ID
df_name = pd.merge(df_Employees, df_Organization, left_on = "ID_ORGANIZATIONAL_POSITION", 
                   right_on = "ID_ORGANIZATIONAL_POSITION")
df_name = df_name.loc[df_name["ID_ORGANIZATIONAL_POSITION"].isin(org_id)]

#### No more duplicated EmployeeID

In [201]:
len(df_name['ID_EMPLOYEE'].unique()) == len(df_name.index)

True

In [202]:
df_assess = pd.merge(df_Assessment, df_Domain, left_on = "ID_KNOWLEDGE_DOMAIN", 
                         right_on = "ID_KNOWLEDGE_DOMAIN")

In [203]:
# filter employee assessment by org ID
df = pd.merge(df_name, df_assess, left_on = "ID_EMPLOYEE",
             right_on = "ID_EMPLOYEE")
df = df.loc[df["ID_ORGANIZATIONAL_POSITION"].isin(org_id)]

In [206]:
df

,ID_EMPLOYEE,SEX,AGE,ID_FRAME,FLAG_RESPONSABILE,ID_ORGANIZATIONAL_POSITION,PROVINE,REGION,ID_PERSONAS,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION,DESCR_KNOWLEDGE_DOMAIN,ID_KNOWLEDGE_AREA,DESCR_KNOWLEDGE_AREA
0,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C05_1D01,1,1.0,Prodotti danni,AREAC005_1,Conoscenza di Prodotti e Servizi Assicurativi
1,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C11D01,1,1.0,Istruttoria e concessione del credito,AREAC011,Analisi e Gestione del credito
2,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C34_1D03,1,NaN,Gestione servizi a supporto,AREAC034_1,Property
3,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C12D01,4,NaN,Sistema finanziario,AREAC012,Capital Markets
4,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C23D01,1,NaN,Analisi statistiche,AREAC023,Modelli quantitativi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160730,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C30_1D01,1,NaN,Communication Plan,AREAC030_1,Comunicazione
160731,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C06D03,1,NaN,Servizi professionali alle imprese,AREAC006,Conoscenza di Prodotti e Servizi non bancari
160732,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C38D01,1,1.0,Program & Project Management,AREAC038,Program & Project Management
160733,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C04D02,1,1.0,Trade Finance,AREAC004,Transaction Banking
160734,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C35_1D03,1,NaN,Ambiente ed Energia,AREAC035_1,Safety

In [208]:
df.duplicated().sum()

31

In [209]:
df.loc[df.duplicated(), :]

,ID_EMPLOYEE,SEX,AGE,ID_FRAME,FLAG_RESPONSABILE,ID_ORGANIZATIONAL_POSITION,PROVINE,REGION,ID_PERSONAS,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION,DESCR_KNOWLEDGE_DOMAIN,ID_KNOWLEDGE_AREA,DESCR_KNOWLEDGE_AREA
1086,10863,F,61,DR/0,X,8275,Milano,Lombardia,P00019,776,C02D03,1,1.0,Customer Development,AREAC002,Customer Relationship & Development
28602,15727,M,48,DR/0,X,8239,Milano,Lombardia,P00019,776,C16_1D06,1,NaN,Normativa specialistica,AREAC016_1,Normativa e Compliance
39171,13862,M,48,QD/4,X,8247,Milano,Lombardia,P00019,15223,C28D04,1,NaN,Sistemi retributivi,AREAC028,Risorse Umane
39183,13862,M,48,QD/4,X,8247,Milano,Lombardia,P00019,15223,C36D02,1,1.0,Service Design,AREAC036,Digital
52554,5425,M,49,DR/0,X,8289,Milano,Lombardia,P00019,15545,C41D01,1,1.0,Relazioni internazionali,AREAC041,International Network
64703,13783,M,63,DR/0,X,8287,Parma,Emilia Romagna,P00019,15093,C29D02,2,NaN,Processi e procedure aziendali,AREAC029,Modelli e processi organizzativi
64714,13783,M,63,DR/0,X,8287,Parma,Emilia Romagna,P00019,15093,C26D03,1,NaN,Gestione e manutenzione IT,AREAC026,Architettura IT e software development
64722,13783,M,63,DR/0,X,8287,Parma,Emilia Romagna,P00019,15093,C22D02,2,2.0,Data Analysis,AREAC022,Data governance
82040,13428,M,59,QD/4,X,8292,Padova,Veneto,P00019,62825,C14D02,1,NaN,ALM & Capital Management,AREAC014,Funding
82377,13584,F,47,QD/4,X,8277,Parma,Emilia Romagna,P00019,14847,C28D03,1,NaN,Gestione e Valutazione,AREAC028,Risorse Umane
82582,13806,M,56,QD/4,X,8223,Verbano-Cusio-Ossola,Piemonte,P00019,15699,C36D01,1,1.0,Innovation management,AREAC036,Digital
82610,13812,M,54,QD/4,X,8276,Parma,Emilia Romagna,P00019,14847,C38D02,2,2.0,Metodologie di gestione progettuale,AREAC038,Program & Project Management
91849,14907,F,56,QD/3,X,8246,Milano,Lombardia,P00019,15223,C03D05,1,NaN,Prodotti transazionali,AREAC003,Conoscenza di Prodotti e Servizi bancari
91856,14907,F,56,QD/3,X,8246,Milano,Lombardia,P00019,15223,C16_1D01,1,NaN,Normativa bancaria,AREAC016_1,Normativa e Compliance
91865,14907,F,56,QD/3,X,8246,Milano,Lombardia,P00019,15223,C41D02,1,1.0,Comunicazione internazionale,AREAC041,International Network
95734,15093,M,54,DR/0,X,8221,Milano,Lombardia,P00019,20759,C16_1D11,1,NaN,Normativa internazionale,AREAC016_1,Normativa e Compliance
96805,15344,M,59,DR/0,X,8279,Padova,Veneto,P00019,62825,C16_1D05,1,NaN,Normativa civilistica e societaria,AREAC016_1,Normativa e Compliance
99838,16721,F,52,QD/3,X,8245,Milano,Lombardia,P00019,15093,C19D01,1,1.0,Pianificazione e budgeting,AREAC019,Pianificazione
113244,25111,F,46,QD/4,X,8288,Torino,Piemonte,P00019,27483,C32D05,1,NaN,Relazioni con la Pubblica Amministrazione ed E...,AREAC032,Relazioni istituzionali & Regulatory relations...
114797,19200,F,62,DR/0,X,8309,Torino,Piemonte,P00019,62825,C25D03,1,1.0,Telecommunication networks,AREAC025,IT environment
115631,27483,M,52,DR/0,X,8255,Torino,Piemonte,P00019,20759,C18D03,1,1.0,Sistemi e modelli qualit√†,AREAC018,Regulatory reporting
118264,20759,M,59,DR/0,X,8253,Torino,Piemonte,P00019,51934,C16_1D12,1,NaN,Norme e specifiche per i servizi non finanziari,AREAC016_1,Normativa e Compliance
123876,26800,M,57,QD/4,X,8262,Milano,Lombardia,P00019,15093,C10D02,1,NaN,Asset management,AREAC010,Wealth & Asset Management
125619,28005,M,40,QD/1,X,8308,Torino,Piemonte,P00019,62825,C18D03,1,1.0,Sistemi e modelli qualit√†,AREAC018,Regulatory reporting
129071,29558,M,46,QD/4,X,8291,Torino,Piemonte,P00019,62825,C07D02,1,NaN,Creazione prodotti e servizi,AREAC007,Product & Service development
129081,29558,M,46,QD/4,X,8291,Torino,Piemonte,P00019,62825,C39D01,1,NaN,Cambiamento e miglioramento organizzativo,AREAC039,Change Management
133508,46410,M,39,QD/1,X,8242,Torino,Piemonte,P00019,14847,C08D02,1,1.0,Pianificazione commerciale,AREAC008,Business Development
149227,61575,M,59,DR/0,X,8290,Firenze,Toscana,P00019,15545,C16_1D05,1,NaN,Normativa civilistica e societaria,AREAC016_1,Normativa e Compliance
150964,62825,F,57,DR/0,X,8238,Torino,Piemonte,P00019,20759,C10D01,1,NaN,Wealth management,AREAC010,Wealth & Asset Management
151651,63111,F,48,QD/3,X,8261,Bologna,Emilia Romagna,P00019,14847,C07D02,1,NaN,Creazione prodotti e servizi,AREAC007,Product & Service development
160048,64808,F,44,DR/0,X,6241,Milano,Lombardia,P00006,51934,C35_1D02,1,NaN,Salute e sicurezza sui luoghi di lavoro,AREAC035_1,Safety

### Create Network

In [210]:
df_nodes = pd.DataFrame(df["ID_EMPLOYEE"].unique())
df_nodes = df_nodes.rename(columns={0:"Node"})
df_nodes_domain = pd.DataFrame(df["DESCR_KNOWLEDGE_AREA"].unique())
df_nodes_domain = df_nodes_domain.rename(columns={0:"Node"})
df_nodes_domain = df_nodes_domain.dropna()
df_nodes = df_nodes.append(df_nodes_domain)

In [211]:
nodes = [n for n in df_nodes["Node"].to_numpy()][0:]

In [212]:
len(nodes)

9963

#### Create Edge

In [213]:
df_edges = df.groupby(["ID_EMPLOYEE","DESCR_KNOWLEDGE_AREA"]).mean()

In [214]:
df_edges = df_edges.reset_index(["ID_EMPLOYEE","DESCR_KNOWLEDGE_AREA"])
df_edges["SCORE_AVG"] = df_edges[["SCORE_AUTODETECTION","SCORE_VALIDATION"]].mean(axis=1)
df_edges = df_edges[["ID_EMPLOYEE","DESCR_KNOWLEDGE_AREA","SCORE_AVG"]]

In [215]:
weighted_edges = [tuple(n) for n in df_edges.to_numpy()]

In [216]:
len(df_edges)

129464