In [2]:
import numpy as np
import pandas as pd
import csv
from collections import defaultdict
import networkx as nx
import json

In [3]:
df_C_raw = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="CDIO_COO_DIV PRIVATE BANKING")
df_P_raw = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="Private Banking")
df_OP = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="Organizational Position")

df_Employees = pd.read_excel("Data.xlsx", sheet_name="Employees")
df_Domain = pd.read_excel("Data.xlsx", sheet_name="Knowledge structure")
df_Assessment = pd.read_excel("Data.xlsx", sheet_name="Knowledge assessment", na_values = "NA")
df_Organization = pd.read_excel("Data.xlsx", sheet_name="Organizational structure", na_values="NA")
df_Persona = pd.read_excel("Data.xlsx", sheet_name="Personas")

## Employment

### Distribution of Age

In [4]:
df_Employees['AGE'].describe()

count    65021.000000
mean        49.680273
std          8.618742
min         21.000000
25%         43.000000
50%         51.000000
75%         57.000000
max         71.000000
Name: AGE, dtype: float64

### Counts for Sex

In [5]:
df_Employees['SEX'].value_counts()

F    33016
M    31691
Name: SEX, dtype: int64

### Count Employee

In [6]:
len(df_Employees['ID_EMPLOYEE'].unique())

64998

In [7]:
len(df_Employees.index)

65021

### There should be duplicated ID_EMPLOYEE

In [10]:
a_list = df_Employees.ID_EMPLOYEE.tolist()
a_set = set(a_list)
contains_duplicates = len(a_list) != len(a_set)

list1=[]
duplicated_ID = []
for i in a_list:
    if i not in list1:
        list1.append(i)
    else:
        duplicated_ID.append(i)
len(duplicated_ID)

23

### Duplicated ID have different Orgnization_Position

In [11]:
df_Employees.loc[df_Employees['ID_EMPLOYEE'].isin(duplicated_ID)]

,ID_EMPLOYEE,SEX,AGE,ID_FRAME,FLAG_RESPONSABILE,ID_ORGANIZATIONAL_POSITION
8421,8503,M,62,QD/4,#,4593
8422,8503,M,62,QD/4,#,5051
9955,10049,M,57,QD/4,#,4596
9956,10049,M,57,QD/4,#,5107
11006,11113,M,51,QD/2,#,4593
11007,11113,M,51,QD/2,#,5051
29772,30411,M,63,QD/1,#,4607
29773,30411,M,63,QD/1,#,6145
32405,33046,M,63,QD/4,#,4607
32406,33046,M,63,QD/4,#,6145
32411,33051,M,62,QD/3,#,4607
32412,33051,M,62,QD/3,#,6145
32413,33052,M,62,QD/4,#,4607
32414,33052,M,62,QD/4,#,6145
32454,33092,M,57,QD/4,#,4607
32455,33092,M,57,QD/4,#,6145
33288,33928,M,64,QD/3,#,4607
33289,33928,M,64,QD/3,#,6145
56470,59459,M,60,QD/3,#,4596
56471,59459,M,60,QD/3,#,5107
58001,60997,M,48,QD/4,#,4607
58002,60997,M,48,QD/4,#,6145
58044,61039,M,55,QD/1,#,4607
58045,61039,M,55,QD/1,#,6145
58247,61241,F,42,3A/2,#,4607
58248,61241,F,42,3A/2,#,6145
58266,61259,F,61,QD/1,#,4607
58267,61259,F,61,QD/1,#,6145
58407,61399,M,51,3A/2,#,4607
58408,61399,M,51,3A/2,#,6145
58943,62073,M,65,QD/4,#,4596
58944,62073,M,65,QD/4,#,5107
58961,62090,F,62,QD/2,#,4596
58962,62090,F,62,QD/2,#,5107
58986,62114,M,58,QD/4,#,4596
58987,62114,M,58,QD/4,#,5107
58989,62116,F,57,QD/1,#,4596
58990,62116,F,57,QD/1,#,5107
58998,62124,M,58,QD/1,#,4596
58999,62124,M,58,QD/1,#,5107
59038,62163,F,60,3A/3,#,4596
59039,62163,F,60,3A/3,#,5107
59165,62289,M,58,QD/1,#,4596
59166,62289,M,58,QD/1,#,5107
59227,62350,F,49,QD/1,#,4596
59228,62350,F,49,QD/1,#,5107

## Orgnizational Structure

In [94]:
len(df_Organization['ID_PERSONAS'].unique())

37

## Knowledge Structure

In [31]:
df_Domain.loc[df_Domain["DESCR_KNOWLEDGE_DOMAIN"].isnull()]

Empty DataFrame
Columns: [ID_KNOWLEDGE_DOMAIN, DESCR_KNOWLEDGE_DOMAIN, ID_KNOWLEDGE_AREA, DESCR_KNOWLEDGE_AREA]
Index: []

#### Two Knowledge domains don't have associated Knowlege Area

In [32]:
df_Domain.loc[df_Domain["DESCR_KNOWLEDGE_AREA"].isnull()]

,ID_KNOWLEDGE_DOMAIN,DESCR_KNOWLEDGE_DOMAIN,ID_KNOWLEDGE_AREA,DESCR_KNOWLEDGE_AREA
49,C01D03,Segmento Imprese,NaN,NaN
85,C32D06,Relazioni con i Regolatori,NaN,NaN

In [28]:
len(df_Domain['ID_KNOWLEDGE_DOMAIN'].unique())
# no duplicated index
len(df_Domain['ID_KNOWLEDGE_DOMAIN'].unique()) == len(df_Domain.index)

True

#### 130 KNOWLEDGE_DOMAIN, 43 KNOWLEDGE_AREA

In [29]:
len(df_Domain['ID_KNOWLEDGE_DOMAIN'].unique())

130

In [161]:
len(df_Domain['ID_KNOWLEDGE_AREA'].unique())

43

In [30]:
df_Domain['ID_KNOWLEDGE_AREA'].value_counts()

AREAC016_1    15
AREAC028       6
AREAC003       6
AREAC030_1     5
AREAC005_1     5
AREAC006       4
AREAC030_2     4
AREAC032       4
AREAC034_1     4
AREAC004       3
AREAC025       3
AREAC017       3
AREAC018       3
AREAC015       3
AREAC001       3
AREAC012       3
AREAC033_1     3
AREAC007       3
AREAC002       3
AREAC026       3
AREAC027       3
AREAC011       3
AREAC035_1     3
AREAC019       2
AREAC036       2
AREAC035_2     2
AREAC019_1     2
AREAC023       2
AREAC022       2
AREAC041       2
AREAC013       2
AREAC029       2
AREAC038       2
AREAC008       2
AREAC014       2
AREAC010       2
AREAC024       2
AREAC009       1
AREAC016_2     1
AREAC040       1
AREAC039       1
AREAC037       1
Name: ID_KNOWLEDGE_AREA, dtype: int64

## Assessment

In [148]:
df_Assessment

,ID_EMPLOYEE,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION
0,63374,767,C05_1D01,1,NaN
1,39838,42166,C11D02,1,NaN
2,27198,8078,C15D03,1,1.0
3,28622,20863,C23D02,1,NaN
4,20494,25046,C28D04,1,NaN
...,...,...,...,...,...
1048570,34556,35036,C35_1D03,1,NaN
1048571,265,18190,C07D01,1,NaN
1048572,3117,67408,C41D01,1,NaN
1048573,63649,63704,C32D03,1,1.0
1048574,63976,63992,C03D05,2,2.0

### distribution of SCORE_AUTODETECTION

In [151]:
df_Assessment['SCORE_AUTODETECTION'].value_counts()

1    864221
2    113101
3     46071
4     19264
5      5918
Name: SCORE_AUTODETECTION, dtype: int64

### A large number of Employees don't have SCORE_VALIDATION in specific Knowledge domain. Some knowledge domains have large missing self-score. 98% of the employees have at least one missing score validation in a knowledege domain.

In [22]:
df_ValidationScore= df_Assessment.loc[df_Assessment['SCORE_VALIDATION'].isna()]
df_ValidationScore['ID_KNOWLEDGE_DOMAIN'].value_counts()
len(df_ValidationScore['ID_EMPLOYEE'].unique()) / len(df_Assessment['ID_EMPLOYEE'].unique())

0.9831103988164951

In [23]:
df_With_Validation = df_Assessment[df_Assessment['SCORE_VALIDATION'].notna()]

In [24]:
df_With_Validation

,ID_EMPLOYEE,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION
2,27198,8078,C15D03,1,1.0
11,54759,43553,C29D02,1,1.0
16,8217,3976,C11D03,1,1.0
20,26640,28488,C41D01,1,1.0
26,44864,4853,C30_1D05,1,1.0
...,...,...,...,...,...
1048566,17752,17858,C01D04,1,1.0
1048567,44217,1903,C03D01,5,5.0
1048569,16261,63573,C16_1D13,1,1.0
1048573,63649,63704,C32D03,1,1.0
1048574,63976,63992,C03D05,2,2.0

### 86.9 percent of self score match the manager score.

In [156]:
(df_With_Self_Score['SCORE_AUTODETECTION'] - df_With_Self_Score['SCORE_VALIDATION']).value_counts(normalize = True)

 0.0    0.868949
 1.0    0.050125
-1.0    0.046603
 2.0    0.013240
-2.0    0.010800
 3.0    0.005146
-3.0    0.002656
 4.0    0.002017
-4.0    0.000463
dtype: float64

### Create Network Data

In [36]:
df_C_raw = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="CDIO_COO_DIV PRIVATE BANKING")
df_P_raw = pd.read_excel("hierarchy_org_position_id.xlsx", sheet_name="Private Banking")

In [37]:
df_C = df_C_raw[["UOG1_F","UOG2_F","UOG3_F","UOG4_F","UOG5_F","UOG6_F"]]
df_P = df_P_raw[["UOG1_F","UOG2_F","UOG3_F","UOG4_F","UOG5_F","UOG6_F"]]

In [38]:
# extract all org id
org_list = []
for i in df_C:
    org_list.append(df_C[i].tolist())

for i in df_P:
    org_list.append(df_P[i].tolist())

# flattern list
flat_list = []
for sublist in org_list:
    for item in sublist:
        flat_list.append(item)
        
org_id = np.unique(np.array(flat_list)).tolist()
org_id.remove("-")
org_id = list(map(int, org_id))

#### Extract all the unique orgnization_positions(from Private bankings) intended to investigate from the whole employees data

In [39]:
org_id

[1,
 10,
 100,
 10012,
 10019,
 10020,
 10036,
 10048,
 10049,
 10056,
 10077,
 10079,
 101,
 10112,
 10113,
 10115,
 10119,
 10120,
 102,
 103,
 104,
 105,
 10571,
 10572,
 10573,
 10574,
 10575,
 10576,
 10577,
 10578,
 10579,
 10580,
 10581,
 10582,
 10583,
 10584,
 10585,
 106,
 107,
 10730,
 10731,
 10732,
 10733,
 10734,
 10735,
 10736,
 10737,
 10738,
 10739,
 10740,
 10741,
 10742,
 10743,
 10744,
 10745,
 10746,
 10747,
 10748,
 10749,
 10750,
 10751,
 10752,
 10753,
 10754,
 10755,
 10756,
 10757,
 10758,
 10759,
 10760,
 10761,
 10762,
 10763,
 10764,
 10765,
 10766,
 10767,
 10768,
 10769,
 10770,
 10771,
 10772,
 10773,
 10774,
 10775,
 10776,
 10777,
 10778,
 10779,
 10780,
 10781,
 10782,
 10783,
 10784,
 10785,
 10786,
 10787,
 10788,
 10789,
 10790,
 10791,
 10792,
 10793,
 10794,
 10795,
 10796,
 10797,
 10798,
 10799,
 108,
 10800,
 10801,
 10802,
 10803,
 10804,
 10805,
 10806,
 10807,
 10808,
 10809,
 10810,
 10811,
 10812,
 10813,
 10814,
 10815,
 10816,
 10817,
 10818,
 10819,
 10820,
 10821,
 10822,
 10823,
 10824,
 10825,
 10826,
 10827,
 10828,
 10829,
 10830,
 10831,
 10832,
 10833,
 10834,
 10835,
 10836,
 10837,
 10838,
 10839,
 10840,
 10841,
 10842,
 10843,
 10844,
 10845,
 10846,
 10847,
 10848,
 10849,
 10850,
 10851,
 10852,
 10853,
 10854,
 10855,
 10856,
 10857,
 10858,
 10859,
 10860,
 10861,
 10862,
 10863,
 10864,
 10865,
 10866,
 10867,
 10868,
 10869,
 10870,
 10871,
 10872,
 10873,
 10874,
 10875,
 10876,
 10877,
 10878,
 10879,
 10880,
 10881,
 10882,
 10883,
 10884,
 10885,
 10886,
 10887,
 10888,
 10889,
 10890,
 10891,
 10892,
 10893,
 10894,
 10895,
 10896,
 10897,
 10898,
 10899,
 109,
 10900,
 10901,
 10902,
 10903,
 10904,
 10905,
 10906,
 10907,
 10908,
 10909,
 10910,
 10911,
 10912,
 10913,
 10914,
 10915,
 10916,
 10917,
 10918,
 10919,
 10920,
 10921,
 10922,
 10923,
 10924,
 10925,
 10926,
 10927,
 10928,
 10929,
 10930,
 10931,
 10932,
 10933,
 10934,
 10935,
 10936,
 10937,
 10938,
 10939,
 10940,
 10941,
 10942,
 10943,
 10944,
 10945,
 10946,
 10947,
 10948,
 10949,
 10950,
 10951,
 10952,
 10953,
 10954,
 10955,
 10956,
 10957,
 10958,
 10959,
 10960,
 10961,
 10962,
 10963,
 10964,
 10965,
 10966,
 10967,
 10968,
 10969,
 10970,
 10971,
 10972,
 10973,
 10974,
 10975,
 10976,
 10977,
 10978,
 10979,
 10980,
 10981,
 10982,
 10983,
 10984,
 10985,
 10986,
 10987,
 10988,
 10989,
 10990,
 10991,
 10992,
 10993,
 10994,
 10995,
 10996,
 10997,
 10998,
 10999,
 11,
 110,
 11000,
 11001,
 11002,
 11003,
 11004,
 11005,
 11006,
 11007,
 11008,
 11009,
 11010,
 11011,
 11012,
 11013,
 11014,
 11015,
 111,
 112,
 11210,
 11211,
 11212,
 11213,
 11214,
 11215,
 11216,
 11217,
 11218,
 11219,
 11220,
 11221,
 11222,
 11223,
 11224,
 11225,
 11226,
 11227,
 11228,
 11229,
 113,
 11321,
 11322,
 11323,
 11324,
 11325,
 11326,
 11327,
 11328,
 11329,
 11330,
 11331,
 11332,
 11333,
 11334,
 11335,
 11336,
 11341,
 11346,
 11347,
 11352,
 11353,
 11354,
 11355,
 11356,
 11357,
 11358,
 11359,
 11360,
 11361,
 11362,
 11363,
 11364,
 11365,
 11366,
 11367,
 11368,
 11369,
 11370,
 11371,
 11372,
 11373,
 11374,
 11375,
 11376,
 11377,
 11378,
 11379,
 11380,
 11381,
 11382,
 11383,
 114,
 115,
 116,
 11606,
 11607,
 11608,
 11609,
 11610,
 11611,
 11612,
 11613,
 11614,
 11615,
 11616,
 11617,
 11618,
 11619,
 11620,
 11621,
 11622,
 11623,
 11624,
 11625,
 11626,
 11627,
 11628,
 11629,
 11630,
 11631,
 11632,
 11633,
 11634,
 11635,
 11636,
 11637,
 11638,
 11639,
 11640,
 11641,
 11642,
 11643,
 11644,
 11646,
 11647,
 11648,
 11649,
 11650,
 11651,
 11652,
 11653,
 11654,
 11655,
 11656,
 117,
 118,
 119,
 12,
 120,
 12031,
 12032,
 12046,
 12052,
 12061,
 12063,
 12064,
 12065,
 12072,
 12075,
 12090,
 12091,
 12092,
 12094,
 12095,
 121,
 12100,
 12101,
 12113,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 13,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 14,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 15,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 16,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 17,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 18,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 19,
 2,
 20,
 21,
 22,
 2201,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 3,
 30,
 31,
 32,
 3283,
 33,
 34,
 35,
 3547,
 36,
 37,
 38,
 39,
 4,
 40,
 41,
 42,
 43,
 4355,
 4358,
 4359,
 44,
 45,
 46,
 47,
 48,
 49,
 5,
 50,
 51,
 5106,
 5119,
 5120,
 5121,
 5124,
 5125,
 5126,
 5127,
 5128,
 5129,
 5130,
 5131,
 5132,
 52,
 53,
 54,
 55,
 56,
 5631,
 57,
 58,
 5827,
 5828,
 5874,
 59,
 6,
 60,
 61,
 6103,
 6134,
 6193,
 6198,
 6199,
 62,
 6200,
 6201,
 6202,
 6203,
 6204,
 6205,
 6206,
 6207,
 6210,
 6222,
 6223,
 6224,
 6225,
 6226,
 6227,
 6228,
 6229,
 6230,
 6231,
 6232,
 6233,
 6234,
 6235,
 6236,
 6241,
 63,
 64,
 65,
 6530,
 6531,
 6536,
 6537,
 6538,
 6539,
 6540,
 6541,
 6542,
 6543,
 6544,
 6545,
 6546,
 6547,
 6548,
 6549,
 6550,
 6551,
 6552,
 6553,
 6554,
 6555,
 6556,
 6557,
 6558,
 6559,
 6560,
 66,
 6658,
 6659,
 6660,
 6663,
 6671,
 6672,
 6673,
 67,
 68,
 69,
 6909,
 6910,
 6911,
 6912,
 6935,
 6945,
 6946,
 6947,
 6948,
 6949,
 7,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 7988,
 8,
 80,
 8034,
 8035,
 8036,
 8037,
 8038,
 8039,
 8040,
 8041,
 8042,
 8043,
 8044,
 8045,
 8046,
 8047,
 8048,
 8052,
 8053,
 8054,
 8055,
 8056,
 8057,
 8058,
 8059,
 8060,
 8061,
 8062,
 8063,
 8064,
 8065,
 8066,
 8067,
 8068,
 8069,
 8076,
 8077,
 8078,
 8079,
 8080,
 8081,
 8082,
 8083,
 8084,
 8085,
 8086,
 8087,
 8088,
 8089,
 8090,
 8091,
 8092,
 8093,
 8094,
 8095,
 8096,
 8097,
 8098,
 8099,
 81,
 8100,
 8101,
 8102,
 8103,
 8104,
 8105,
 8106,
 8107,
 8108,
 8109,
 8110,
 8111,
 8112,
 8113,
 8114,
 8115,
 8116,
 8117,
 8118,
 8119,
 8120,
 8121,
 8124,
 8125,
 8126,
 8127,
 8128,
 8129,
 8130,
 8131,
 8132,
 8133,
 8134,
 8135,
 8136,
 8137,
 8138,
 8139,
 8140,
 8141,
 8149,
 8150,
 8151,
 8152,
 8153,
 8154,
 8155,
 8156,
 8157,
 8158,
 8159,
 8160,
 8161,
 8162,
 8174,
 8175,
 8176,
 8177,
 8178,
 8179,
 8180,
 8181,
 8182,
 8183,
 8184,
 8185,
 8186,
 8187,
 82,
 8218,
 8219,
 8220,
 8221,
 8222,
 8223,
 8237,
 8238,
 8239,
 8240,
 8241,
 8242,
 8243,
 8244,
 8245,
 8246,
 8247,
 8248,
 8253,
 8254,
 8255,
 8256,
 8257,
 8258,
 8259,
 8260,
 8261,
 8262,
 8263,
 8264,
 8265,
 8266,
 8267,
 8268,
 8269,
 8270,
 8271,
 8272,
 8275,
 8276,
 8277,
 8278,
 8279,
 8280,
 8281,
 8286,
 8287,
 8288,
 8289,
 8290,
 8291,
 8292,
 8293,
 8294,
 8295,
 8296,
 8297,
 8298,
 8299,
 83,
 8300,
 8301,
 8304,
 8305,
 8306,
 8307,
 8308,
 8309,
 8310,
 8311,
 8323,
 8324,
 8325,
 8326,
 8327,
 8328,
 8329,
 8330,
 8331,
 8332,
 8333,
 8334,
 8335,
 8336,
 8337,
 8338,
 8339,
 8340,
 8341,
 8342,
 8343,
 8344,
 8345,
 8346,
 8347,
 8348,
 8349,
 8350,
 8351,
 8352,
 8353,
 8354,
 8355,
 8356,
 8357,
 8358,
 8359,
 8360,
 8361,
 8362,
 8363,
 8364,
 8365,
 8366,
 8367,
 8368,
 8369,
 8370,
 8371,
 8372,
 8373,
 8374,
 8375,
 8376,
 8377,
 8378,
 8379,
 8380,
 8381,
 8382,
 8383,
 8384,
 8385,
 8386,
 8387,
 8388,
 8389,
 8390,
 8391,
 8392,
 8393,
 8394,
 8395,
 8396,
 8397,
 8398,
 8399,
 84,
 8400,
 8401,
 8402,
 8403,
 ...]

### Filter the Employees that have the orgnization in the dataset

In [72]:
# filter employee ID by org ID
df_name = pd.merge(df_Employees, df_Organization, left_on = "ID_ORGANIZATIONAL_POSITION", 
                   right_on = "ID_ORGANIZATIONAL_POSITION")
df_name = df_name.loc[df_name["ID_ORGANIZATIONAL_POSITION"].isin(org_id)]

#### No more duplicated EmployeeID : one employee only has one orgnizational position

In [73]:
len(df_name['ID_EMPLOYEE'].unique()) == len(df_name.index)

True

In [74]:
df_assess = pd.merge(df_Assessment, df_Domain, left_on = "ID_KNOWLEDGE_DOMAIN", 
                         right_on = "ID_KNOWLEDGE_DOMAIN")

In [77]:
# filter employee assessment by org ID
df = pd.merge(df_name, df_assess, left_on = "ID_EMPLOYEE",
             right_on = "ID_EMPLOYEE")
df = df.loc[df["ID_ORGANIZATIONAL_POSITION"].isin(org_id)]

In [78]:
df

,ID_EMPLOYEE,SEX,AGE,ID_FRAME,FLAG_RESPONSABILE,ID_ORGANIZATIONAL_POSITION,PROVINE,REGION,ID_PERSONAS,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION,DESCR_KNOWLEDGE_DOMAIN,ID_KNOWLEDGE_AREA,DESCR_KNOWLEDGE_AREA
0,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C05_1D01,1,1.0,Prodotti danni,AREAC005_1,Conoscenza di Prodotti e Servizi Assicurativi
1,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C11D01,1,1.0,Istruttoria e concessione del credito,AREAC011,Analisi e Gestione del credito
2,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C34_1D03,1,NaN,Gestione servizi a supporto,AREAC034_1,Property
3,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C12D01,4,NaN,Sistema finanziario,AREAC012,Capital Markets
4,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C23D01,1,NaN,Analisi statistiche,AREAC023,Modelli quantitativi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160730,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C30_1D01,1,NaN,Communication Plan,AREAC030_1,Comunicazione
160731,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C06D03,1,NaN,Servizi professionali alle imprese,AREAC006,Conoscenza di Prodotti e Servizi non bancari
160732,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C38D01,1,1.0,Program & Project Management,AREAC038,Program & Project Management
160733,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C04D02,1,1.0,Trade Finance,AREAC004,Transaction Banking
160734,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C35_1D03,1,NaN,Ambiente ed Energia,AREAC035_1,Safety

In [79]:
duplicate = df[df.duplicated()]
len(duplicate)

31

In [80]:
duplicate

,ID_EMPLOYEE,SEX,AGE,ID_FRAME,FLAG_RESPONSABILE,ID_ORGANIZATIONAL_POSITION,PROVINE,REGION,ID_PERSONAS,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION,DESCR_KNOWLEDGE_DOMAIN,ID_KNOWLEDGE_AREA,DESCR_KNOWLEDGE_AREA
1086,10863,F,61,DR/0,X,8275,Milano,Lombardia,P00019,776,C02D03,1,1.0,Customer Development,AREAC002,Customer Relationship & Development
28602,15727,M,48,DR/0,X,8239,Milano,Lombardia,P00019,776,C16_1D06,1,NaN,Normativa specialistica,AREAC016_1,Normativa e Compliance
39171,13862,M,48,QD/4,X,8247,Milano,Lombardia,P00019,15223,C28D04,1,NaN,Sistemi retributivi,AREAC028,Risorse Umane
39183,13862,M,48,QD/4,X,8247,Milano,Lombardia,P00019,15223,C36D02,1,1.0,Service Design,AREAC036,Digital
52554,5425,M,49,DR/0,X,8289,Milano,Lombardia,P00019,15545,C41D01,1,1.0,Relazioni internazionali,AREAC041,International Network
64703,13783,M,63,DR/0,X,8287,Parma,Emilia Romagna,P00019,15093,C29D02,2,NaN,Processi e procedure aziendali,AREAC029,Modelli e processi organizzativi
64714,13783,M,63,DR/0,X,8287,Parma,Emilia Romagna,P00019,15093,C26D03,1,NaN,Gestione e manutenzione IT,AREAC026,Architettura IT e software development
64722,13783,M,63,DR/0,X,8287,Parma,Emilia Romagna,P00019,15093,C22D02,2,2.0,Data Analysis,AREAC022,Data governance
82040,13428,M,59,QD/4,X,8292,Padova,Veneto,P00019,62825,C14D02,1,NaN,ALM & Capital Management,AREAC014,Funding
82377,13584,F,47,QD/4,X,8277,Parma,Emilia Romagna,P00019,14847,C28D03,1,NaN,Gestione e Valutazione,AREAC028,Risorse Umane
82582,13806,M,56,QD/4,X,8223,Verbano-Cusio-Ossola,Piemonte,P00019,15699,C36D01,1,1.0,Innovation management,AREAC036,Digital
82610,13812,M,54,QD/4,X,8276,Parma,Emilia Romagna,P00019,14847,C38D02,2,2.0,Metodologie di gestione progettuale,AREAC038,Program & Project Management
91849,14907,F,56,QD/3,X,8246,Milano,Lombardia,P00019,15223,C03D05,1,NaN,Prodotti transazionali,AREAC003,Conoscenza di Prodotti e Servizi bancari
91856,14907,F,56,QD/3,X,8246,Milano,Lombardia,P00019,15223,C16_1D01,1,NaN,Normativa bancaria,AREAC016_1,Normativa e Compliance
91865,14907,F,56,QD/3,X,8246,Milano,Lombardia,P00019,15223,C41D02,1,1.0,Comunicazione internazionale,AREAC041,International Network
95734,15093,M,54,DR/0,X,8221,Milano,Lombardia,P00019,20759,C16_1D11,1,NaN,Normativa internazionale,AREAC016_1,Normativa e Compliance
96805,15344,M,59,DR/0,X,8279,Padova,Veneto,P00019,62825,C16_1D05,1,NaN,Normativa civilistica e societaria,AREAC016_1,Normativa e Compliance
99838,16721,F,52,QD/3,X,8245,Milano,Lombardia,P00019,15093,C19D01,1,1.0,Pianificazione e budgeting,AREAC019,Pianificazione
113244,25111,F,46,QD/4,X,8288,Torino,Piemonte,P00019,27483,C32D05,1,NaN,Relazioni con la Pubblica Amministrazione ed E...,AREAC032,Relazioni istituzionali & Regulatory relations...
114797,19200,F,62,DR/0,X,8309,Torino,Piemonte,P00019,62825,C25D03,1,1.0,Telecommunication networks,AREAC025,IT environment
115631,27483,M,52,DR/0,X,8255,Torino,Piemonte,P00019,20759,C18D03,1,1.0,Sistemi e modelli qualit√†,AREAC018,Regulatory reporting
118264,20759,M,59,DR/0,X,8253,Torino,Piemonte,P00019,51934,C16_1D12,1,NaN,Norme e specifiche per i servizi non finanziari,AREAC016_1,Normativa e Compliance
123876,26800,M,57,QD/4,X,8262,Milano,Lombardia,P00019,15093,C10D02,1,NaN,Asset management,AREAC010,Wealth & Asset Management
125619,28005,M,40,QD/1,X,8308,Torino,Piemonte,P00019,62825,C18D03,1,1.0,Sistemi e modelli qualit√†,AREAC018,Regulatory reporting
129071,29558,M,46,QD/4,X,8291,Torino,Piemonte,P00019,62825,C07D02,1,NaN,Creazione prodotti e servizi,AREAC007,Product & Service development
129081,29558,M,46,QD/4,X,8291,Torino,Piemonte,P00019,62825,C39D01,1,NaN,Cambiamento e miglioramento organizzativo,AREAC039,Change Management
133508,46410,M,39,QD/1,X,8242,Torino,Piemonte,P00019,14847,C08D02,1,1.0,Pianificazione commerciale,AREAC008,Business Development
149227,61575,M,59,DR/0,X,8290,Firenze,Toscana,P00019,15545,C16_1D05,1,NaN,Normativa civilistica e societaria,AREAC016_1,Normativa e Compliance
150964,62825,F,57,DR/0,X,8238,Torino,Piemonte,P00019,20759,C10D01,1,NaN,Wealth management,AREAC010,Wealth & Asset Management
151651,63111,F,48,QD/3,X,8261,Bologna,Emilia Romagna,P00019,14847,C07D02,1,NaN,Creazione prodotti e servizi,AREAC007,Product & Service development
160048,64808,F,44,DR/0,X,6241,Milano,Lombardia,P00006,51934,C35_1D02,1,NaN,Salute e sicurezza sui luoghi di lavoro,AREAC035_1,Safety

### drop the duplicated rows

In [135]:
df_no_duplicate = df.drop_duplicates( keep='last')
df_no_duplicate

,ID_EMPLOYEE,SEX,AGE,ID_FRAME,FLAG_RESPONSABILE,ID_ORGANIZATIONAL_POSITION,PROVINE,REGION,ID_PERSONAS,ID_MANAGER,ID_KNOWLEDGE_DOMAIN,SCORE_AUTODETECTION,SCORE_VALIDATION,DESCR_KNOWLEDGE_DOMAIN,ID_KNOWLEDGE_AREA,DESCR_KNOWLEDGE_AREA
0,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C05_1D01,1,1.0,Prodotti danni,AREAC005_1,Conoscenza di Prodotti e Servizi Assicurativi
1,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C11D01,1,1.0,Istruttoria e concessione del credito,AREAC011,Analisi e Gestione del credito
2,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C34_1D03,1,NaN,Gestione servizi a supporto,AREAC034_1,Property
3,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C12D01,4,NaN,Sistema finanziario,AREAC012,Capital Markets
4,6,F,52,QD/4,X,55,Milano,Lombardia,P00030,13080,C23D01,1,NaN,Analisi statistiche,AREAC023,Modelli quantitativi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160730,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C30_1D01,1,NaN,Communication Plan,AREAC030_1,Comunicazione
160731,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C06D03,1,NaN,Servizi professionali alle imprese,AREAC006,Conoscenza di Prodotti e Servizi non bancari
160732,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C38D01,1,1.0,Program & Project Management,AREAC038,Program & Project Management
160733,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C04D02,1,1.0,Trade Finance,AREAC004,Transaction Banking
160734,68363,M,49,DR/0,X,10731,Milano,Lombardia,P00036,14353,C35_1D03,1,NaN,Ambiente ed Energia,AREAC035_1,Safety

## Analyze Knowledge Area: using df_no_duplicate

In [161]:
# All possible Knowledge areas are included
len(df_no_duplicate['ID_KNOWLEDGE_AREA'].unique())

43

#### No knowledge domain has NaN values meaning that there is at list one SCORE_VALIDATION for each domain from any employee. The SCORE_AUTODETECTION for each knowledge shows a small difference, not significant to compare anverage scores between each domain. May need to rescale.

In [129]:
df_Knowledge_area_domain = df_no_duplicate.groupby(["DESCR_KNOWLEDGE_AREA","DESCR_KNOWLEDGE_DOMAIN"]).mean()
df_Knowledge_area_domain.drop(["ID_EMPLOYEE","ID_ORGANIZATIONAL_POSITION","ID_MANAGER"], axis=1)

                                                                                    AGE  \
DESCR_KNOWLEDGE_AREA      DESCR_KNOWLEDGE_DOMAIN
Advisory                  Advisory e negoziazione M&A                         49.543333
                          Finanza strutturata                                 49.944306
Amministrazione           Analisi e redazione bilancio                        49.706838
                          Contabilit√† generale (nazionale e internazionale)  49.949640
                          Fiscalit√† d'impresa                                50.218960
...                                                                                 ...
Transaction Banking       Cash Management                                     49.632164
                          Securities Services                                 49.307313
                          Trade Finance                                       49.641618
Wealth & Asset Management Asset management                                    49.700627
                          Wealth management                                   49.736000

                                                                              SCORE_AUTODETECTION  \
DESCR_KNOWLEDGE_AREA      DESCR_KNOWLEDGE_DOMAIN
Advisory                  Advisory e negoziazione M&A                                    1.081667
                          Finanza strutturata                                            1.062344
Amministrazione           Analisi e redazione bilancio                                   1.109402
                          Contabilit√† generale (nazionale e internazionale)             1.126299
                          Fiscalit√† d'impresa                                           1.065436
...                                                                                           ...
Transaction Banking       Cash Management                                                1.110351
                          Securities Services                                            1.201315
                          Trade Finance                                                  1.119736
Wealth & Asset Management Asset management                                               1.254702
                          Wealth management                                              1.297600

                                                                              SCORE_VALIDATION
DESCR_KNOWLEDGE_AREA      DESCR_KNOWLEDGE_DOMAIN
Advisory                  Advisory e negoziazione M&A                                 1.069061
                          Finanza strutturata                                         1.042289
Amministrazione           Analisi e redazione bilancio                                1.144385
                          Contabilit√† generale (nazionale e internazionale)          1.196970
                          Fiscalit√† d'impresa                                        1.046729
...                                                                                        ...
Transaction Banking       Cash Management                                             1.137079
                          Securities Services                                         1.194503
                          Trade Finance                                               1.180495
Wealth & Asset Management Asset management                                            1.170874
                          Wealth management                                           1.261278

[128 rows x 3 columns]

In [132]:
df_Knowledge_area_domain.loc[df_Knowledge_area_domain['SCORE_VALIDATION'].isna()]

Empty DataFrame
Columns: [ID_EMPLOYEE, AGE, ID_ORGANIZATIONAL_POSITION, ID_MANAGER, SCORE_AUTODETECTION, SCORE_VALIDATION]
Index: []

In [130]:
df_Knowledge_area = df_no_duplicate.groupby(["DESCR_KNOWLEDGE_AREA"]).mean()
df_Knowledge_area.drop(["ID_EMPLOYEE","ID_ORGANIZATIONAL_POSITION","ID_MANAGER"], axis=1)

,AGE,SCORE_AUTODETECTION,SCORE_VALIDATION
DESCR_KNOWLEDGE_AREA,,,
Advisory,49.744070,1.071993,1.054974
Amministrazione,49.959867,1.100747,1.122792
Analisi e Gestione del credito,49.714973,1.110160,1.084265
Analisi economica e finanziaria,49.482526,1.146942,1.081633
Architettura IT e software development,49.843386,1.374339,1.419530
Business Development,49.795943,1.222753,1.175658
Capital Markets,49.676985,1.204307,1.208993
Change Management,49.625620,1.221488,1.167488
Comunicazione,49.604053,1.139273,1.117035
Conoscenza Segmenti,49.700535,1.380481,1.528024
Conoscenza di Prodotti e Servizi Assicurativi,49.585510,1.217663,1.307667
Conoscenza di Prodotti e Servizi bancari,49.515050,1.564633,1.853942
Conoscenza di Prodotti e Servizi non bancari,49.633774,1.056358,1.046989
Credito e Finanza d'Impresa,49.716561,1.057325,1.036474
Customer Relationship & Development,49.746104,1.520688,1.450281
Cyber Security,49.850540,1.181013,1.257694
Data governance,49.618367,1.379184,1.293187
Design e Structured Thinking,49.352542,1.300847,1.259542
Digital,49.432775,1.275439,1.191370
Funding,49.327875,1.038207,1.015152
IT environment,49.565957,1.362766,1.416122
Impatto Sociale e Culturale,49.400970,1.068715,1.055249
International Network,49.356909,1.189697,1.146115
Knowledge management,49.604689,1.312045,1.299828
Legale e contenzioso,49.560163,1.055285,1.033592
Marketing,49.418935,1.062650,1.019011
Modelli e processi organizzativi,49.815843,1.291956,1.229261
Modelli quantitativi,49.732665,1.226453,1.252290
Normativa e Compliance,49.675829,1.239685,1.297032
Pianificazione,49.876269,1.206870,1.191539
Prevenzione e Gestione dei rischi,49.836701,1.102403,1.068702
Procurement & Cost Management,49.761292,1.145360,1.158670
Product & Service development,49.974166,1.272067,1.232227
Program & Project Management,49.721998,1.583803,1.547815
Property,49.811867,1.024301,1.029393
Regulatory reporting,49.623893,1.318658,1.318811
Relazioni istituzionali & Regulatory relationships,49.957695,1.146331,1.132929
Risorse Umane,49.608962,1.129120,1.127431
Safety,49.749387,1.090166,1.168084
Scienze attuariali,49.461929,1.018190,1.015221
Transaction Banking,49.525438,1.144287,1.172586
Wealth & Asset Management,49.718131,1.275930,1.216810

## Analyze Personas: using df_no_duplicate

### Employee dataset include 27 personas. 37 personas could cover all possible knowledge areas

In [136]:
df_persona = df_no_duplicate.drop_duplicates(subset=['ID_EMPLOYEE'],keep='first')
# personals presenting in employee dataset
persona_list = df_persona['ID_PERSONAS'].unique().tolist()
len(persona_list)

27

### The number of employees included in each Persona varies significantly

In [165]:
df_no_duplicate.drop_duplicates(subset = ['ID_EMPLOYEE'],keep='first')['ID_PERSONAS'].value_counts()

P00019    3343
P00014    2099
P00029    1744
P00004     574
P00005     294
P00006     242
P00016     222
P00013     163
P00015     151
P00020     150
P00030     113
P00007     110
P00018     106
P00008      78
P00036      70
P00023      66
P00025      61
P00009      56
P00001      48
P00024      42
P00035      41
P00002      40
P00010      40
P00026      31
P00034      27
P00032       8
P00003       2
Name: ID_PERSONAS, dtype: int64

### If we use one persona as a subset, 26 out of 27 personas subset of employees would associate with all the knowledge areas. Even though numbers of employees in each persona is significantly different, one persona could capture all knowledge areas.

In [192]:
persona_list=df_no_duplicate['ID_PERSONAS'].unique().tolist()
df_persona_group = df_no_duplicate[['ID_PERSONAS','DESCR_KNOWLEDGE_AREA']].groupby('ID_PERSONAS')

for i in persona_list:
    print(i, len(df_persona_group.get_group(i)['DESCR_KNOWLEDGE_AREA'].unique()))

P00030 43
P00019 43
P00029 43
P00004 43
P00010 43
P00007 43
P00032 38
P00005 43
P00035 43
P00014 43
P00026 43
P00020 43
P00008 43
P00023 43
P00016 43
P00001 43
P00006 43
P00036 43
P00025 43
P00018 43
P00002 43
P00015 43
P00009 43
P00013 43
P00024 43
P00034 43
P00003 24

### For each Persona, there may be some DESCR_KNOWLEDGE_AREA has no employee has SCORE_VALIDATION, (showing NaN). If use Persona as filter, the Kowledge area without any SCORE_VALIDATION may be missleading.

In [188]:
df_persona_score = df_no_duplicate.groupby(["ID_PERSONAS","DESCR_KNOWLEDGE_AREA"]).mean()
df_persona_score.drop(["ID_EMPLOYEE","ID_ORGANIZATIONAL_POSITION","ID_MANAGER"], axis=1)
df_persona_score

                                                     ID_EMPLOYEE        AGE  \
ID_PERSONAS DESCR_KNOWLEDGE_AREA
P00001      Advisory                                24121.923077  51.153846
            Amministrazione                         41301.000000  53.444444
            Analisi e Gestione del credito          28991.857143  52.500000
            Analisi economica e finanziaria         36235.307692  56.615385
            Architettura IT e software development  19308.058824  55.823529
...                                                          ...        ...
P00036      Risorse Umane                           44288.508772  48.789474
            Safety                                  50452.888889  49.555556
            Scienze attuariali                      45051.500000  44.954545
            Transaction Banking                     36616.555556  49.666667
            Wealth & Asset Management               45496.941176  51.176471

                                                    ID_ORGANIZATIONAL_POSITION  \
ID_PERSONAS DESCR_KNOWLEDGE_AREA
P00001      Advisory                                               7100.384615
            Amministrazione                                        9003.055556
            Analisi e Gestione del credito                         8560.357143
            Analisi economica e finanziaria                        8461.230769
            Architettura IT e software development                 6873.764706
...                                                                        ...
P00036      Risorse Umane                                         10886.807018
            Safety                                                10891.666667
            Scienze attuariali                                    10900.045455
            Transaction Banking                                   10880.814815
            Wealth & Asset Management                             10876.647059

                                                      ID_MANAGER  \
ID_PERSONAS DESCR_KNOWLEDGE_AREA
P00001      Advisory                                14231.000000
            Amministrazione                         22833.722222
            Analisi e Gestione del credito          16177.714286
            Analisi economica e finanziaria         24535.076923
            Architettura IT e software development  16346.117647
...                                                          ...
P00036      Risorse Umane                           59130.017544
            Safety                                  49580.000000
            Scienze attuariali                      59232.500000
            Transaction Banking                     53441.851852
            Wealth & Asset Management               51242.176471

                                                    SCORE_AUTODETECTION  \
ID_PERSONAS DESCR_KNOWLEDGE_AREA
P00001      Advisory                                           1.000000
            Amministrazione                                    1.111111
            Analisi e Gestione del credito                     1.000000
            Analisi economica e finanziaria                    1.076923
            Architettura IT e software development             1.000000
...                                                                 ...
P00036      Risorse Umane                                      1.140351
            Safety                                             1.037037
            Scienze attuariali                                 1.000000
            Transaction Banking                                1.259259
            Wealth & Asset Management                          1.470588

                                                    SCORE_VALIDATION
ID_PERSONAS DESCR_KNOWLEDGE_AREA
P00001      Advisory                                             NaN
            Amministrazione                                 1.000000
            Analisi e Gestione del credito                  1.000000
            Analisi economica e finanziaria                      NaN
            Architettura IT e software development               NaN
...                                                              ...
P00036      Risorse Umane                                        NaN
            Safety                                          2.000000
            Scienze attuariali                                   NaN
            Transaction Banking                             1.190476
            Wealth & Asset Management                       1.142857

[1111 rows x 6 columns]

### Create Network

In [56]:
df_nodes = pd.DataFrame(df["ID_EMPLOYEE"].unique())
df_nodes = df_nodes.rename(columns={0:"Node"})
df_nodes_domain = pd.DataFrame(df["DESCR_KNOWLEDGE_AREA"].unique())
df_nodes_domain = df_nodes_domain.rename(columns={0:"Node"})
df_nodes_domain = df_nodes_domain.dropna()
df_nodes = df_nodes.append(df_nodes_domain)

In [57]:
nodes = [n for n in df_nodes["Node"].to_numpy()][0:]

In [58]:
len(nodes)

9963

In [59]:
df_nodes

                            Node
0                              6
1                          14705
2                              7
3                          15725
4                          15730
..                           ...
38                       Digital
39               Data governance
40   Credito e Finanza d'Impresa
41         Knowledge management
42  Design e Structured Thinking

[9963 rows x 1 columns]

#### Create Edge

In [67]:
df_edges = df.groupby(["ID_EMPLOYEE","DESCR_KNOWLEDGE_AREA"]).mean()
df_edges

                                                            AGE  \
ID_EMPLOYEE DESCR_KNOWLEDGE_AREA
6           Amministrazione                                52.0
            Analisi e Gestione del credito                 52.0
            Business Development                           52.0
            Capital Markets                                52.0
            Conoscenza di Prodotti e Servizi Assicurativi  52.0
...                                                         ...
68366       Funding                                        49.0
            Risorse Umane                                  49.0
            Safety                                         49.0
            Transaction Banking                            49.0
            Wealth & Asset Management                      49.0

                                                           ID_ORGANIZATIONAL_POSITION  \
ID_EMPLOYEE DESCR_KNOWLEDGE_AREA
6           Amministrazione                                                      55.0
            Analisi e Gestione del credito                                       55.0
            Business Development                                                 55.0
            Capital Markets                                                      55.0
            Conoscenza di Prodotti e Servizi Assicurativi                        55.0
...                                                                               ...
68366       Funding                                                            8763.0
            Risorse Umane                                                      8763.0
            Safety                                                             8763.0
            Transaction Banking                                                8763.0
            Wealth & Asset Management                                          8763.0

                                                           ID_MANAGER  \
ID_EMPLOYEE DESCR_KNOWLEDGE_AREA
6           Amministrazione                                   13080.0
            Analisi e Gestione del credito                    13080.0
            Business Development                              13080.0
            Capital Markets                                   13080.0
            Conoscenza di Prodotti e Servizi Assicurativi     13080.0
...                                                               ...
68366       Funding                                             760.0
            Risorse Umane                                       760.0
            Safety                                              760.0
            Transaction Banking                                 760.0
            Wealth & Asset Management                           760.0

                                                           SCORE_AUTODETECTION  \
ID_EMPLOYEE DESCR_KNOWLEDGE_AREA
6           Amministrazione                                                1.0
            Analisi e Gestione del credito                                 1.0
            Business Development                                           1.0
            Capital Markets                                                4.0
            Conoscenza di Prodotti e Servizi Assicurativi                  1.0
...                                                                        ...
68366       Funding                                                        1.0
            Risorse Umane                                                  1.0
            Safety                                                         1.0
            Transaction Banking                                            1.0
            Wealth & Asset Management                                      1.0

                                                           SCORE_VALIDATION
ID_EMPLOYEE DESCR_KNOWLEDGE_AREA
6           Amministrazione                                             1.0
            Analisi e Gestione del credito                              1.0
            Business Development                                        1.0
            Capital Markets                                             NaN
            Conoscenza di Prodotti e Servizi Assicurativi               1.0
...                                                                     ...
68366       Funding                                                     NaN
            Risorse Umane                                               1.0
            Safety                                                      1.5
            Transaction Banking                                         NaN
            Wealth & Asset Management                                   NaN

[129464 rows x 5 columns]

In [68]:
df_edges = df_edges.reset_index(["ID_EMPLOYEE","DESCR_KNOWLEDGE_AREA"])
df_edges["SCORE_AVG"] = df_edges[["SCORE_AUTODETECTION","SCORE_VALIDATION"]].mean(axis=1)
df_edges = df_edges[["ID_EMPLOYEE","DESCR_KNOWLEDGE_AREA","SCORE_AVG"]]
df_edges

        ID_EMPLOYEE                           DESCR_KNOWLEDGE_AREA  SCORE_AVG
0                 6                                Amministrazione       1.00
1                 6                 Analisi e Gestione del credito       1.00
2                 6                           Business Development       1.00
3                 6                                Capital Markets       4.00
4                 6  Conoscenza di Prodotti e Servizi Assicurativi       1.00
...             ...                                            ...        ...
129459        68366                                        Funding       1.00
129460        68366                                  Risorse Umane       1.00
129461        68366                                         Safety       1.25
129462        68366                            Transaction Banking       1.00
129463        68366                      Wealth & Asset Management       1.00

[129464 rows x 3 columns]

In [69]:
weighted_edges = [tuple(n) for n in df_edges.to_numpy()]

In [70]:
len(df_edges)

129464